html {
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-image {
    width: 100%;
    height: 500px;
    border-radius: 1%;
    object-fit: cover;
}

