.container {
    background-color: wheat;
}

.heading {
    background-color: burlywood;
}

.heading,
.container {
    border: 2px solid brown;
    border-radius: 5px;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #333;
    padding: 0 5px;
}

.link:hover {
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 5px;
    color: #0077cc;
}
